body {
  padding: 0;
  margin: 0;
}

input[type="text"]::placeholder {  
                  
  padding-left: 10px; 
} 

input[type="email"]::placeholder {              
 
  padding-left: 10px; 
} 

.button{
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 0;
  transition: 0.3s linear;

    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
}




.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;  
  background-color: white;
  font-family: "Inter";
  box-sizing: border-box;
    
}


$width-pc: 1420px;
$height-pc: 640px;



.header {
  position: relative;
  width: 98.6%;  
  height: 650px;
  margin: 0 auto 60px;
  background-color: #222222;
  border-radius: 20px;
    @media(max-width: 768px) {
      height: 610px;
    }
    .header__logo {
      width: 350px;
      max-height: 40px;
      padding-top: 40px;
      margin: 0 auto 60px;
        @media (max-width: 768px) {
          width: 150px;
          margin: 0 auto 55px;
        }
    }
    
    .header__title{ 
      max-width: 1100px;
      max-height: max-content;
      margin: 0 auto 28px;
      font-weight: bold;
      font-size: 60px;
      line-height: 69px;
      color: white;
        @media (max-width: 768px) {
          max-width: 650px;;
          font-size: 33px;
          line-height: 37px;
          margin: 0 auto 10px;
        }
    }
    .header__text{
      font-size: 18px;
      line-height: 26px;
      max-width: 1100px;      
      color: white;
      opacity: 0.7;
      margin: 0 auto 0;
        @media (max-width: 768px) {
          max-width: 650px;
        }
    }
    .header__button{
      width: 240px;
      height: 54px;
      margin: 110px 0 0 160px;
      font-size: 16px;
      line-height: 24px;
        @media (max-width: 768px) {
          margin: 240px 0 0 55px;
        }
    }
  .header__main-image{    
    position: absolute;
    right: 127px;
    top: -3px;
      @media (max-width: 768px) {
        right: -20px;
        top: 80px;
        width: 390px;
        height: 620px;
      }
  }
}





.features{
  color: black;
  width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
    @media (max-width: 768px) {
      width: 750px;
    }
}
.features__feature-block{
  // background-color: #F8F8F8;
  background-color: #F8F8F8;
  width: 540px;
  border-radius: 20px;
  margin: 0 auto 120px;
    @media (max-width: 768px) {
      width: 350px;
      margin: 0 auto 75px;
    }
    .feature-block__title{
      margin: 40px 40px 20px;
      font-size: 18px;
      line-height: 20px;
      opacity: 0.6;
      max-width: max-content;
        @media (max-width: 768px) {
          font-size: 15px;
          line-height: 20px;
          max-width: 270px;
          margin-left: auto;
          margin-bottom: 10px;
        }
    }
    .feature-block__subtitle{
      margin: 0 auto 40px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      max-width: 460px;
      @media (max-width: 768px) {
        font-size: 26px;
        line-height: 31px;
        max-width: 270px;       
      }
    }
    .feature-block__description{
      margin: 0 auto 40px;
      max-width: 460px;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
        @media (max-width: 768px) {
          font-size: 15px;
          line-height: 20px;
          max-width: 280px;
        }
    }   

}

.gallery{
  color:black;
  width: 1100px;
  margin: 0 auto 0;
  display: grid;
    @media (max-width: 768px) {
      width: 750px;
    }

    .gallery__title {
      margin: 0 auto 0;
      font-weight: 600;
      font-size: 60px;
      line-height: 68px;
      max-width: 1100px;
        @media (max-width: 768px) {
          font-size: 33px;
          line-height: 37px;
          max-width: 610px;
          margin: 0 50px 0;
        }
    }

    .gallery__images{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 25px;
      margin: 120px auto 120px;
        @media (max-width: 768px) {
          margin: 40px auto 10px;
          grid-column-gap: 15px;
        }
    }

    .images__image{
      width: 350px;
      height: 709px;
      object-fit: cover;
        @media (max-width: 768px) {
          width: 225px;
          height: 540px;
        }
    }

   
    

    .gallery__subtitle{
      margin: 25px auto 0;
      font-weight: 600;
      font-size: 60px;
      line-height: 69px;
        @media (max-width: 768px) {
          font-size: 33px;
          line-height: 37px;
          margin-left: 50px;
          margin-top: 7px;
        }
    }

}

.feedback{
  color: black;
    .feedback__form{
      margin: 0 auto;
      background-color: #F8F8F8;
      border-radius: 10px;
      width: 1100px;   
      height: 628px;
        @media (max-width: 768px) {
          width: 708px;
          height: 611px;
        }        
    }
    .feedback__title{
      padding-top: 60px;
      margin: 120px auto 0;
      max-width: 500px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
        @media (max-width: 768px) {
          font-size: 26px;
          line-height: 31px;
          margin-top: 70px;
        }
    }
    .feedback__subtitle{
      margin: 20px auto 0;     
      max-width: 500px;  
      opacity: 0.6;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    .form__inputs{
      margin-top: 100px;
      display: flex;
      flex-flow: column;
      max-width: 980px;   
      border: none;       
    }

    .form__field{
      display: flex;
      width: 470px;
      height: 54px;
      margin: 0 40px 0 0;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-radius: 8px;
      background-color: white;
      color: rgba(17, 17, 17, 0.3);
    }

    .form__inputs_upper {
      display: flex;
        @media (max-width: 768px) {
          flex-flow: column;
          justify-content: space-between;
          width: 470px;
          height: 128px;
          margin: 0 auto;
        }
    }

    .form__field_type_message{
      margin: 20px auto 0;
      width: 980px;
      height: 130px;
      font-size: 16px;
      line-height: 24px; 
      border: none;
      background-color: #FFFFFF;
      border-radius: 8px;    
        @media(max-width: 768px) {
          max-width: 470px;
          max-height: 130px;
          margin: 0 auto;
        }  
    }

    .form__confirm-button{
      width: 194px;
      height: 54px;
      margin: 0 0 0 -40px;
      position: absolute;
      right: 50px;
      
      font-size: 16px;
      line-height: 24px;
      background-color: black;
      color: white;
        @media(max-width: 768px) {
          margin: 0 70px 0;
          width: 460px;
        }
    }
    
    .form__handlers{
      border: none;      
      margin-top: 15px;
      padding: 0;
      position: relative;
        @media (max-width: 768px) {
          margin-top: 40px;
        }
    }  
}

.footer{
  margin-top: 120px;
  position: relative;
  width: 1420px;
  background-color: #222222;
  color: white;
  height: 470px;
    @media(max-width: 768px) {
      width: 768px;
      margin-top: 90px;      
    }

    .footer__title{
      max-width: 1100px;
      padding-top: 60px;
      margin: 0 auto 20px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 640px;
          font-size: 32px;
          line-height: 38px;
        }
    }

    .footer__subtitle{
      max-width: 1100px;
      margin: 0 auto 0;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 640px;
          font-size: 18px;
          line-height: 26px;
        }
    }

    .footer__image{
      width: 460px;
      position: absolute;
      right: 140px;
      height: 610px;
      top: -120px;
        @media(max-width: 768px) {
          width: 400px;
          right: 0px;
          height: 515px;
          top: -90px;
        }
      
    }

    .footer__download-button{
      margin: 170px 165px 60px;
      min-width: 480px;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      display: block;
      height: 55px;
      border: none;
      border-radius: 10px;
        @media(max-width: 768px) {
          margin: 140px 60px 80px;
          min-width: 236px;
          height: 45px;
        }
        

      
    }

    

}







