input[type="text"]::placeholder {  
                  
  padding-left: 10px; 
} 

input[type="email"]::placeholder {              
 
  padding-left: 10px; 
} 

@import "./utilities/variables";
@import "./blocks/page";
@import "./blocks/button";
@import "./blocks/body";
@import "./blocks/header";
@import "./blocks/features";
@import "./blocks/feature-block";
@import "./blocks/gallery";
@import "./blocks/feedback";
@import "./blocks/footer";
//lol