input[type=text]::-moz-placeholder {
  padding-left: 10px;
}

input[type=text]:-ms-input-placeholder {
  padding-left: 10px;
}

input[type=text]::placeholder {
  padding-left: 10px;
}

input[type=email]::-moz-placeholder {
  padding-left: 10px;
}

input[type=email]:-ms-input-placeholder {
  padding-left: 10px;
}

input[type=email]::placeholder {
  padding-left: 10px;
}

.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  background-color: white;
  font-family: "Inter";
  box-sizing: border-box;
}

.button {
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 0;
  transition: 0.3s linear;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.body {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 98.6%;
  height: 650px;
  margin: 0 auto 60px;
  background-color: #222222;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .header {
    height: 610px;
  }
}
@media (max-width: 320px) {
  .header {
    height: 900px;
    width: 325px;
    border-radius: 10px;
  }
}
.header .header__logo {
  width: 350px;
  max-height: 40px;
  padding-top: 40px;
  margin: 0 auto 60px;
}
@media (max-width: 768px) {
  .header .header__logo {
    width: 150px;
    margin: 0 auto 55px;
  }
}
@media (max-width: 320px) {
  .header .header__logo {
    width: 100px;
    padding-top: 30px;
    margin: 0 auto 50px;
  }
}
.header .header__title {
  max-width: 650px;
  margin: 0 auto 28px 160px;
  font-weight: bold;
  font-size: 60px;
  line-height: 69px;
  color: white;
}
@media (max-width: 768px) {
  .header .header__title {
    max-width: 320px;
    font-size: 33px;
    line-height: 37px;
    margin: 0 35px 10px;
  }
}
@media (max-width: 320px) {
  .header .header__title {
    max-width: 260px;
    font-size: 24px;
    line-height: 29px;
  }
}
.header .header__text {
  max-width: 1100px;
  margin: 0 auto 0;
  font-size: 18px;
  line-height: 26px;
  color: white;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .header .header__text {
    max-width: 350px;
    margin: 0 35px 0;
  }
}
@media (max-width: 320px) {
  .header .header__text {
    max-width: 260px;
    font-size: 12px;
    line-height: 15px;
  }
}
.header .header__button {
  width: 240px;
  height: 54px;
  margin: 110px 0 0 160px;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .header .header__button {
    margin: 60px 0 0 30px;
  }
}
@media (max-width: 320px) {
  .header .header__button {
    margin: 0;
    width: 262px;
    margin-left: 27px;
  }
}
.header .header__main-image {
  position: absolute;
  right: 127px;
  top: -3px;
}
@media (max-width: 768px) {
  .header .header__main-image {
    right: -20px;
    top: 80px;
    width: 390px;
    height: 620px;
  }
}
@media (max-width: 320px) {
  .header .header__main-image {
    position: static;
    width: 315px;
    height: 605px;
  }
}

.features {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  color: black;
}
@media (max-width: 768px) {
  .features {
    width: 750px;
  }
}
@media (max-width: 320px) {
  .features {
    display: flex;
    flex-flow: column;
    width: 320px;
  }
}

.feature-block {
  width: 540px;
  border-radius: 20px;
  margin: 0 auto 120px;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  .feature-block {
    width: 350px;
    margin: 0 auto 75px;
  }
}
@media (max-width: 320px) {
  .feature-block {
    margin: 0 auto 100px;
  }
}
.feature-block .feature-block__title {
  font-size: 18px;
  line-height: 20px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 40px 40px 20px;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .feature-block .feature-block__title {
    font-size: 15px;
    line-height: 20px;
    max-width: 270px;
    margin: 25px auto 10px;
  }
}
.feature-block .feature-block__subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  max-width: 460px;
  margin: 0 auto 40px;
}
@media (max-width: 768px) {
  .feature-block .feature-block__subtitle {
    font-size: 26px;
    line-height: 31px;
    max-width: 270px;
  }
}
.feature-block .feature-block__description {
  max-width: 460px;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto 40px;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .feature-block .feature-block__description {
    font-size: 15px;
    line-height: 20px;
    max-width: 280px;
  }
}

.gallery {
  display: grid;
  width: 1100px;
  margin: 0 auto 0;
  color: black;
}
@media (max-width: 768px) {
  .gallery {
    width: 750px;
  }
}
@media (max-width: 320px) {
  .gallery {
    width: 320px;
  }
}
.gallery .gallery__title {
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  max-width: 1100px;
  margin: 0 auto 0;
}
@media (max-width: 768px) {
  .gallery .gallery__title {
    font-size: 33px;
    line-height: 37px;
    max-width: 610px;
    margin: 0 50px 0;
  }
}
@media (max-width: 320px) {
  .gallery .gallery__title {
    max-width: 260px;
    font-size: 26px;
    line-height: 31px;
    margin: 0 30px 0;
  }
}
.gallery .gallery__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  margin: 120px auto 120px;
}
@media (max-width: 768px) {
  .gallery .gallery__images {
    grid-column-gap: 15px;
    margin: 40px auto 10px;
  }
}
@media (max-width: 320px) {
  .gallery .gallery__images {
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, 250px);
    margin: 40px auto 10px;
  }
}
.gallery .images__image {
  width: 350px;
  height: 709px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .gallery .images__image {
    width: 225px;
    height: 540px;
  }
}
.gallery .gallery__subtitle {
  font-weight: 600;
  font-size: 60px;
  line-height: 69px;
  margin: 25px auto 0;
}
@media (max-width: 768px) {
  .gallery .gallery__subtitle {
    font-size: 33px;
    line-height: 37px;
    margin: 10px 50px 0;
  }
}

.feedback .feedback__form {
  border-radius: 10px;
  width: 1100px;
  height: 628px;
  margin: 0 auto;
  background-color: #F8F8F8;
}
@media (max-width: 768px) {
  .feedback .feedback__form {
    width: 708px;
    height: 611px;
  }
}
@media (max-width: 320px) {
  .feedback .feedback__form {
    width: 300px;
    height: 614px;
  }
}
.feedback .feedback__title {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  padding-top: 60px;
  max-width: 500px;
  margin: 120px auto 0;
}
@media (max-width: 768px) {
  .feedback .feedback__title {
    font-size: 26px;
    line-height: 31px;
    margin-top: 70px;
  }
}
.feedback .feedback__subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
  margin: 20px auto 0;
  opacity: 0.6;
}
.feedback .form__inputs {
  display: flex;
  flex-flow: column;
  border: none;
  max-width: 980px;
  margin: 100px 40px;
}
.feedback .form__field {
  display: flex;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 8px;
  width: 470px;
  height: 54px;
  margin: 0 40px 0 0;
  color: rgba(17, 17, 17, 0.3);
  background-color: white;
}
@media (max-width: 320px) {
  .feedback .form__field {
    width: 250px;
  }
}
.feedback .form__inputs_upper {
  display: flex;
}
@media (max-width: 768px) {
  .feedback .form__inputs_upper {
    flex-flow: column;
    justify-content: space-between;
    width: 470px;
    height: 128px;
    margin: 0 auto;
  }
}
.feedback .form__field_type_message {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  max-width: 980px;
  height: 130px;
  margin: 20px 0 0;
  background-color: white;
}
@media (max-width: 768px) {
  .feedback .form__field_type_message {
    width: 470px;
    max-height: 130px;
    margin: 20px auto 0;
  }
}
@media (max-width: 320px) {
  .feedback .form__field_type_message {
    width: 250px;
    margin: 10px 40px 0 0;
  }
}
.feedback .form__confirm-button {
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  width: 194px;
  height: 54px;
  right: 50px;
  top: -60px;
  margin: 0 0 0 -40px;
  background-color: black;
  color: white;
}
@media (max-width: 768px) {
  .feedback .form__confirm-button {
    width: 460px;
    margin: 0 70px 0;
  }
}
@media (max-width: 320px) {
  .feedback .form__confirm-button {
    width: 260px;
    margin: 0 -30px 0;
  }
}
.feedback .form__handlers {
  position: relative;
  border: none;
  padding: 0;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .feedback .form__handlers {
    margin-top: 40px;
  }
}

.footer {
  margin-top: 120px;
  position: relative;
  width: 1420px;
  background-color: #222222;
  color: white;
  height: 470px;
}
@media (max-width: 768px) {
  .footer {
    width: 768px;
    margin-top: 90px;
  }
}
@media (max-width: 320px) {
  .footer {
    width: 320px;
    margin-top: 90px;
  }
}
.footer .footer__title {
  padding-top: 60px;
  margin: 0 0 20px 170px;
  max-width: 460px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}
@media (max-width: 768px) {
  .footer .footer__title {
    max-width: 300px;
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 20px 60px;
  }
}
@media (max-width: 320px) {
  .footer .footer__title {
    margin-left: 30px;
  }
}
.footer .footer__subtitle {
  max-width: 1080px;
  margin: 0 auto 0;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}
@media (max-width: 768px) {
  .footer .footer__subtitle {
    max-width: 640px;
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 320px) {
  .footer .footer__subtitle {
    max-width: 250px;
  }
}
.footer .footer__image {
  width: 460px;
  position: absolute;
  right: 140px;
  height: 610px;
  top: -120px;
}
@media (max-width: 768px) {
  .footer .footer__image {
    width: 400px;
    right: 0px;
    height: 585px;
    top: -114px;
  }
}
@media (max-width: 320px) {
  .footer .footer__image {
    display: none;
  }
}
.footer .footer__download-button {
  margin: 170px 165px 60px;
  min-width: 480px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  display: block;
  height: 55px;
  border: none;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .footer .footer__download-button {
    margin: 170px 60px 80px;
    min-width: 236px;
    height: 45px;
  }
}
@media (max-width: 320px) {
  .footer .footer__download-button {
    margin: 140px 24px 80px;
    min-width: 286px;
    height: 45px;
  }
}/*# sourceMappingURL=style.css.map */