body {
  padding: 0;
  margin: 0;
}

input[type="text"]::placeholder {  
                  
  padding-left: 10px; 
} 

input[type="email"]::placeholder {              
 
  padding-left: 10px; 
} 

.button{
  border: none;
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 0;
  transition: 0.3s linear;

    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
}

.main-text{
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  max-width: 76.38%;
  margin: 0;
}

.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;  
  background-color: white;
  font-family: "Inter";
  box-sizing: border-box;
    
}


$width-pc: 1420px;
$height-pc: 640px;



.header {
  position: relative;
  width: 98.6%;  
  height: 650px;
  margin: 0 auto 60px;
  background-color: #222222;
  border-radius: 20px;
    .header__logo {
      width: 360px;
      height: 40px;
      padding-top: 40px;
      margin: 0 auto 60px;
    }
    .header__title{ 
      max-width: 76.38%;
      max-height: max-content;
      margin: 0 auto 28px;
      font-weight: bold;
      font-size: 60px;
      line-height: 69px;
      color: white;
    }
    .header__text{
      font-size: 18px;
      line-height: 26px;
      max-width: 76.38%;      
      color: white;
      opacity: 0.7;
      margin: 0 auto 0;
    }
    .header__button{
      width: 240px;
      height: 54px;
      margin: 110px 0 0 160px;
      font-size: 16px;
      line-height: 24px;
    }
  .header__main-image{
    outline-color: black;
    position: absolute;
    right: 65px;    
    outline-color: black;
    position: absolute;
    right: 127px;
    top: -3px;
  }
}





.features{
  color: black;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.features__feature-block{
  // background-color: #F8F8F8;
  background-color: #F8F8F8;
  width: 540px;
  border-radius: 20px;
  margin: 0 auto 120px;
    .feature-block__title{
      margin: 40px 40px 20px;
      font-size: 18px;
      line-height: 20px;
      opacity: 0.6;
      max-width: max-content;
    }
    .feature-block__subtitle{
      margin: 0 auto 40px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      max-width: 460px;      
    }
    .feature-block__description{
      margin: 0 auto 40px;
      max-width: 460px;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
    }   

}

.gallery{
  color:black;
  width: 1100px;
  margin: 0 auto 0;
  display: grid;

    .gallery__images{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 25px;
      margin: 120px auto 120px;
    }

    .images__image{
      width: 350px;
      height: 709px;
      object-fit: cover;
    }

    .gallery__title {
      margin: 0 auto 0;
    }

    .gallery__subtitle{
      margin: 25px auto 0;
    }

}

.feedback{
  color: black;
    .feedback__form{
      margin: 0 auto;
      background-color: #F8F8F8;
      border-radius: 10px;
      width: 1100px;   
      height: 628px;  
      
    }
    .feedback__title{
      padding-top: 60px;
      margin: 120px auto 0;
      max-width: 500px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
     
    }
    .feedback__subtitle{
      margin: 20px auto 0;     
      max-width: 500px;  
      opacity: 0.6;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
    }

    .form__inputs{
      margin-top: 100px;
      display: flex;
      flex-flow: column;
      max-width: 980px;   
      border: none;   
    }

    .form__field{
      display: flex;
      width: 470px;
      height: 54px;
      margin: 0 40px 0 0;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-radius: 8px;
      background-color: white;
      color: rgba(17, 17, 17, 0.3);
    }

    .form__inputs_upper {
      display: flex;
    }

    .form__field_type_message{
      margin: 20px auto 0;
      width: 980px;
      height: 130px;
      font-size: 16px;
      line-height: 24px; 
      border: none;
      background-color: #FFFFFF;
      border-radius: 8px;      
    }

    .form__confirm-button{
      min-width: 194px;
      min-height: 54px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(17, 17, 17, 0.3);
      position: absolute;
      right: 100px;
    }
    
    .form__handlers{
      border: none;      
      margin-top: 20px;
      padding: 0;
      position: relative;
    }

    .form__confirm-button{
      width: 194px;
      height: 54px;
      margin-right: -40px;
      font-size: 16px;
      line-height: 24px;
      background-color: black;
      color: white;
    }
}

.footer{
  margin-top: 120px;
  position: relative;
  width: 1420px;
  background-color: #222222;
  color: white;
  height: 470px;

    .footer__title{
      max-width: 540px;
      padding-top: 60px;
      margin: 0 auto 20px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: left;
    }

    .footer__subtitle{
      max-width: 540px;
      margin: 0 auto 0;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
    }

    .footer__image{
      width: 460px;
      position: absolute;
      right: 140px;
      height: 610px;
      top: -120px;
      
    }

    .footer__download-button{
      margin: 170px 165px 60px;
      min-width: 480px;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      display: block;
      height: 55px;
      border: none;
      border-radius: 10px;

      
    }

    

}







