.features{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 1100px;  
  margin: 0 auto;
  color: $main-text-color;
    @media (max-width: 768px) {
      width: 750px;
      gap: 10px;
    }
    @media (max-width: 320px) {
      flex-flow: column;
      width: 300px;
    }
}