.feature-block{  
  width: 540px; 
  border-radius: 20px;
  margin: 0 auto 120px;
  background-color: $bg-color-dim;
    @media (max-width: 768px) {
      width: 350px;
      margin: 0 auto 75px;
    }
    @media (max-width: 320px) {
      margin: 0 auto 100px;
    }

    .feature-block__title{
      font-size: 18px;
      line-height: 20px;
      max-width: max-content;
      margin: 40px 40px 20px;      
      opacity: 0.6;
        @media (max-width: 768px) {
          font-size: 15px;
          line-height: 20px;
          max-width: 270px;
          margin: 25px auto 10px;
        }        
    }

    .feature-block__subtitle{
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      max-width: 460px;
      margin: 0 auto 40px;
      @media (max-width: 768px) {
        font-size: 26px;
        line-height: 31px;
        max-width: 270px;       
      }
    }
    .feature-block__description{
      max-width: 460px;
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto 40px;
      opacity: 0.6;
        @media (max-width: 768px) {
          font-size: 15px;
          line-height: 20px;
          max-width: 280px;
        }
    }
}