.feedback {
    .feedback__form {
      border-radius: 10px;
      width: 1100px;   
      height: 628px;
      margin: 0 auto;
      background-color: $bg-color-dim;
        @media (max-width: 768px) {
          width: 708px;
          height: 611px;
        }  
        @media (max-width: 320px) {
          width: 300px;
          height: 614px;
        }       
    }

    .feedback__title{
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      padding-top: 60px;
      max-width: 500px;
      margin: 120px auto 0;
        @media (max-width: 768px) {
          font-size: 26px;
          line-height: 31px;
          margin-top: 70px;
        }       
    }
    .feedback__subtitle {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      max-width: 500px;  
      margin: 20px auto 0;     
      opacity: 0.6;
    }

    
}