.feedback {
    .feedback__form {
      border-radius: 10px;
      width: 1100px;   
      height: 628px;
      margin: 0 auto;
      background-color: $bg-color-dim;
        @media (max-width: 768px) {
          width: 708px;
          height: 611px;
        }  
        @media (max-width: 320px) {
          width: 300px;
          height: 614px;
        }       
    }

    .feedback__title{
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      padding-top: 60px;
      max-width: 500px;
      margin: 120px auto 0;
        @media (max-width: 768px) {
          font-size: 26px;
          line-height: 31px;
          margin-top: 70px;
        }       
    }
    .feedback__subtitle {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      max-width: 500px;  
      margin: 20px auto 0;     
      opacity: 0.6;
    }

    .form__inputs {
      display: flex;
      flex-flow: column;
      border: none;       
      max-width: 980px;   
      margin: 100px 40px;
    }

    .form__field {
      display: flex;
      font-size: 16px;
      line-height: 24px;
      border: none;
      border-radius: 8px;
      width: 470px;
      height: 54px;
      margin: 0 40px 0 0;
      color: rgba(17, 17, 17, 0.3);
      background-color: $main-color;
        @media (max-width: 320px) {
          width: 250px;
        }
    }
    
    .form__inputs_upper {
      display: flex;
        @media (max-width: 768px) {
          flex-flow: column;
          justify-content: space-between;
          width: 470px;
          height: 128px;
          margin: 0 auto;
        }
    }

    .form__field_type_message{
      border: none;
      border-radius: 8px;    
      font-size: 16px;
      line-height: 24px; 
      max-width: 980px;
      height: 130px;
      margin: 20px 0 0;
      background-color: $main-color;
        @media(max-width: 768px) {
          width: 470px;
          max-height: 130px;
          margin: 20px auto 0;          
        }
        @media (max-width: 320px) {
          width: 250px;
          margin: 10px 40px 0 0;
        }  
    }
    .form__confirm-button{
      position: absolute;
      font-size: 16px;
      line-height: 24px;
      width: 194px;
      height: 54px;
      right: 50px;  
      top: -60px;    
      margin: 0 0 0 -40px;
      background-color: $second-color;
      color: $second-text-color;
        @media(max-width: 768px) {
          width: 460px;
          margin: 0 70px 0;
        }
        @media (max-width: 320px) {
          width: 260px;
          margin: 0 -30px 0;
        }
    }    
    .form__handlers{
      position: relative;
      border: none;      
      padding: 0;
      margin-top: 15px;
        @media (max-width: 768px) {
          margin-top: 40px;
        }
    }  
}