.feedback {
    
          
    

    &__title{
      text-align: center;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      padding-top: 60px;
      max-width: 500px;
      margin: 120px auto 0;
        @media (max-width: 768px) {
          font-size: 25px;
          line-height: 30px;
          margin-top: 30px;          
        } 
        @media (max-width: 320px) {
          max-width: 300px;
        }      
    }
    
    &__subtitle {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      max-width: 500px;  
      margin: 20px auto 0;     
      opacity: 0.6;
        @media (max-width: 320px) {
          max-width: 260px;
        }
    }

    
}