.footer{
  position: relative;
  width: 98.6%;
  height: 470px;
  margin: 120px auto 0;
  background-color: $bg-color-dark;
  color: white;
  border-radius: 20px;
    @media(max-width: 768px) {
      width: 745px;
      height: 415px;
      margin-top: 90px;      
    }
    @media(max-width: 320px) {
      width: 350px;    
    }

    .footer__title{
      padding-top: 60px;
      margin: 0 0 20px 170px;
      max-width: 460px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 300px;
          margin: 0 0 20px 45px;
          
        }
        @media(max-width: 320px) {
          margin-left: 30px;            
        }
    }

    .footer__subtitle{
      max-width: 540px;
      margin: 0 170px 0;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 300px;
          margin: 0 50px;
        }
        @media(max-width: 320px) {
          max-width: 250px;
        }
    }

    .footer__image{
      width: 460px;
      position: absolute;
      right: 140px;
      height: 610px;
      top: -140px;
        @media(max-width: 768px) {
          width: 400px;
          right: -8px;
          height: 500px;
          top: -90px;
        }
        @media(max-width: 320px) {
          display: none;    
        }      
    }

    .footer__download-button{
      margin: 170px 165px 60px;
      min-width: 480px;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      display: block;
      height: 55px;
      border: none;
      border-radius: 10px;
        @media(max-width: 768px) {
          margin: 130px 50px 80px;
          min-width: 236px;
          height: 50px;
        } 
        @media (max-width: 320px) {
          margin: 140px 24px 80px;
          min-width: 286px;       
        }   
    }
}