.footer{
  position: relative;
  width: 1420px;
  height: 470px;
  margin: 120px auto 0;
  background-color: $bg-color-dark;
  color: white;
  border-radius: 20px;
    @media(max-width: 768px) {
      width: 748px;
      height: 415px;
      margin-top: 90px;      
    }
    @media(max-width: 320px) {
      width: 300px;
      font-size: 24px;
      line-height: 29px;  
      margin-top: 110px;  
      height: 260px;
    }

    &__title{
      padding-top: 60px;
      margin: 0 0 20px 170px;
      max-width: 460px;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 300px;
          margin: 0 0 20px 45px;          
        }
        @media(max-width: 320px) {
          padding-top: 20px;
          margin-left: 20px;
          margin-bottom: 15px;
          font-size: 24px;
          line-height: 29px;            
        }
    }

    &__subtitle{
      max-width: 540px;
      margin: 0 170px 0;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
        @media (max-width: 768px) {
          max-width: 300px;
          margin: 0 50px;
        }
        @media(max-width: 320px) {
          max-width: 250px;
          font-size: 12px;
          line-height: 15px;
          margin: 0 20px
        }
    }

    &__image{
      width: 460px;
      position: absolute;
      right: 140px;
      height: 610px;
      top: -140px;
        @media(max-width: 768px) {
          width: 400px;
          right: -8px;
          height: 500px;
          top: -90px;
        }
        @media(max-width: 320px) {
          display: none;
          width: 300px;    
        }      
    }

    &__download-button{
      margin: 40px 165px 60px;
      width: 480px;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      display: block;
      height: 55px;
      border: none;
      border-radius: 10px;
        @media(max-width: 768px) {
          margin: 130px 50px 80px;
          width: 236px;
          height: 50px;
        } 
        @media (max-width: 320px) {
          margin: 90px 24px 80px;
          width: 260px;       
        }   
    }
}