.footer {
  position: relative;
  width: 1420px;
  height: 470px;
  border-radius: 20px;
  margin: 115px auto 0;
  background-color: $bg-color-dark;
  color: white;
    @media(max-width: $tablet-BP) {
      width: 748px;
      height: 415px;
      margin-top: 95px;      
    }
    @media(max-width: $mobile-BP) {
      width: 300px;
      font-size: 24px;
      line-height: 29px;
      margin-top: 40px;
      height: 270px;
    }

    &__title {
      text-align: left;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      padding-top: 60px;
      max-width: 460px;
      margin:  0 160px 20px;
        @media (max-width: $tablet-BP) {
          max-width: 300px;
          padding-top: 50px;
          margin: 0 45px 20px;   
        }
        @media(max-width: $mobile-BP) {
          font-size: 24px;
          line-height: 29px;
          padding-top: 20px;
          margin: 0 20px 15px;          
        }
    }

    &__subtitle {
      text-align: left;
      font-size: 18px;
      max-width: 540px;
      line-height: 26px;
      margin: 0 160px 0;
        @media (max-width: $tablet-BP) {
          max-width: 300px;
          margin: 0 50px;
        }
        @media(max-width: $mobile-BP) {
          font-size: 12px;
          line-height: 15px;
          max-width: 250px;
          margin: 0 20px
        }
    }

    &__image {
      width: 460px;
      position: absolute;
      right: 140px;
      height: 580px;
      top: -112px;
        @media(max-width: $tablet-BP) {
          width: 380px;
          right: 5px;
          height: 500px;
          top: -95px;
        }
        @media(max-width: $mobile-BP) {
          display: none;
          width: 300px;    
        }      
    }

    &__download-button {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: block;
      width: 470px;
      height: 55px;
      border: none;
      border-radius: 10px;
      margin: 170px 160px 60px;
        @media(max-width: $tablet-BP) {
          width: 236px;
          height: 50px;
          margin: 130px 50px 80px;
        } 
        @media (max-width: $mobile-BP) {
          width: 260px;
          height: 45px;      
          margin: 95px 20px 80px;
        }   
    }
}