.form {
  &__inputs {
    display: flex;
    flex-flow: column;
    border: none;       
    max-width: 980px;   
    margin: 100px 40px;
      @media (max-width: 320px) {
        margin: 70px 15px;
        max-width: 260px;
        padding: 0;
      }
  }
  
  &__field {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
    width: 470px;
    height: 54px;
    padding-left: 10px;
    margin: 0 40px 0 0;
    color: rgba(17, 17, 17, 0.3);
    background-color: $main-color;
    &:hover {
      cursor: pointer;
    }
      @media (max-width: 320px) {
        width: 250px;
        font-size: 12px;
      }
  }
  
  &__inputs_upper {
    display: flex;
      @media (max-width: 768px) {
        flex-flow: column;
        justify-content: space-between;
        width: 470px;
        height: 128px;
        margin: 0 auto;
      }
      @media (max-width: 320px) {
        width: 260px;
        margin: 0;
      }
  }
  
  &__field_type_message{
    border: none;
    border-radius: 8px;    
    font-size: 16px;
    line-height: 24px; 
    max-width: 980px;
    height: 130px;
    margin: 20px 0 0;
    padding-left: 10px;
    background-color: $main-color;
    &:hover {
      cursor: pointer;
    }
    
      @media(max-width: 768px) {
        width: 470px;
        max-height: 130px;
        margin: 20px auto 0;          
      }
      @media (max-width: 320px) {
        width: 250px;
        margin: 10px 40px 0 0;
      }  
  }
  &__confirm-button{
    font-size: 16px;
    line-height: 24px;
    width: 194px;
    height: 54px;
    margin: 0 50px;
    background-color: $second-color;
    color: $second-text-color;
      @media(max-width: 768px) {
        width: 460px;
        margin: 0 70px 0;
      }
      @media (max-width: 320px) {
        width: 260px;
        margin: 0 auto 0;
      }
  }    
  &__handlers{
    display: flex;
    justify-content: end;
    border: none;      
    padding: 0;
    margin-top: 15px;
      @media (max-width: 768px) {
        margin-top: 40px;
      }
      @media (max-width: 320px) {
        display: block;
        width: 260px;
      }
  }  
}

