.gallery{
  display: grid;
  width: 1100px;
  margin: 0 auto 0;
  color: $second-color;
    @media (max-width: 768px) {
      width: 750px;
    }
    @media (max-width: 320px) {
      width: 320px;
    }

    .gallery__title {
      font-weight: 600;
      font-size: 60px;
      line-height: 68px;
      max-width: 1100px;
      margin: 0 auto 0;
        @media (max-width: 768px) {
          font-size: 33px;
          line-height: 37px;
          max-width: 610px;
          margin: 0 50px 0;
        }
        @media(max-width: 320px) {
          max-width: 260px;
          font-size: 26px;
          line-height: 31px;
          margin: 0 30px 0;
        }
    }
    
    .gallery__images{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 25px;
      margin: 120px auto 120px;
        @media (max-width: 768px) {
          grid-column-gap: 15px;
          margin: 40px auto 10px;
        }
        @media(max-width: 320px) {
          grid-column-gap: 15px;
          grid-template-columns: repeat(auto-fit, 250px);
          margin: 40px auto 10px;
        }
    }

    .images__image{
      width: 350px;
      height: 709px;
      object-fit: cover;
        @media (max-width: 768px) {
          width: 225px;
          height: 540px;
        }
    }   

    .gallery__subtitle{
      font-weight: 600;
      font-size: 60px;
      line-height: 69px;
      margin: 25px auto 0;
        @media (max-width: 768px) {
          font-size: 33px;
          line-height: 37px;
          margin: 10px 50px 0;
        }
    }
}