.header {
  position: relative;
  width: 1420px;  
  height: 650px;
  border-radius: 20px;
  margin: 0 auto 60px;  
  background-color: $bg-color-dark;
    @media(max-width: $tablet-BP) {
      width: 748px;
      height: 610px;
      margin: 0 auto 80px;  
    }
    @media(max-width: $mobile-BP) {
      height: 905px;
      width: 300px;
      border-radius: 10px;
      margin: 0 auto 65px;
    }

    &__logo {
      width: 350px;
      max-height: 40px;
      padding-top: 40px;
      margin: 0 auto 60px;
      @media (max-width: $tablet-BP) {
        width: 140px;
        margin: 0 auto 50px;
      }
      @media (max-width: $mobile-BP) {
        width: 80px;
        padding-top: 30px;
        margin: 0 auto 45px;
        }
      }
    
    &__title { 
      max-width: 650px;
      margin: 0 160px 28px;
      font-weight: bold;
      font-size: 60px;
      line-height: 69px;
      color: $main-color;
        @media (max-width: $tablet-BP) {
          max-width: 360px;
          font-size: 33px;
          line-height: 37px;
          margin: 0 50px 15px;
        }
        @media (max-width: $mobile-BP) {
          max-width: 260px;
          font-size: 24px;
          line-height: 29px;
          margin: 0 20px 15px;
        }
    }

    &__text {
      max-width: 450px; 
      margin: 0 160px;
      font-size: 18px;
      line-height: 26px;          
      color: $main-color;
      opacity: 0.7;     
        @media (max-width: $tablet-BP) {
          max-width: 350px;
          margin: 0 55px 0;
          font-size: 15px;
          line-height: 20px;
        }
        @media (max-width: $mobile-BP) {
          max-width: 260px;
          font-size: 12px;
          line-height: 15px;
          margin: 0 20px 0;
        }
    }

    &__button{
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      width: 240px;
      height: 54px;
      margin: 105px 160px 0;
        @media (max-width: $tablet-BP) {
          margin: 250px 50px 0;
          height: 50px;
        }
        @media(max-width: $mobile-BP) {
          font-size: 12px;
          line-height: 15px;
          width: 262px;
          height: 40px;
          margin: 0 20px 0;        
        }
    }
    
  &__main-image{    
    position: absolute;
    width: 448px;
    height: 769px;
    right: 150px;
    top: -3px;
      @media (max-width: $tablet-BP) {
        right: -20px;
        top: 85px;
        width: 380px;
        height: 620px;
      }
      @media(max-width: $mobile-BP) {
        position: static;
        width: 300px;
        height: 610px;
        margin: 10px 0 0;
      }
  }
}