.header {
  position: relative;
  width: 98.6%;  
  height: 650px;
  margin: 0 auto 60px;  
  background-color: $bg-color-dark;
  border-radius: 20px;
    @media(max-width: 768px) {
      height: 610px;
    }
    @media(max-width: 320px) {
      height: 900px;
      width: 325px;
      border-radius: 10px;
    }

    .header__logo {
      width: 350px;
      max-height: 40px;     
      padding-top: 40px;
      margin: 0 auto 60px;      
        @media (max-width: 768px) {
          width: 150px;
          margin: 0 auto 55px;
        }
        @media (max-width: 320px) {
          width: 100px;
          padding-top: 30px;
          margin: 0 auto 50px;
        }
    }
    
    .header__title{ 
      max-width: 650px;
      margin: 0 auto 28px 160px;
      font-weight: bold;
      font-size: 60px;
      line-height: 69px;
      color: $main-color;
        @media (max-width: 768px) {
          max-width: 320px;;
          font-size: 33px;
          line-height: 37px;
          margin: 0 35px 10px;
        }
        @media (max-width: 320px) {
          max-width: 260px;
          font-size: 24px;
          line-height: 29px;
        }
    }

    .header__text{
      max-width: 1100px; 
      margin: 0 auto 0;
      font-size: 18px;
      line-height: 26px;          
      color: $main-color;
      opacity: 0.7;     
        @media (max-width: 768px) {
          max-width: 350px;
          margin: 0 35px 0;
        }
        @media (max-width: 320px) {
          max-width: 260px;
          font-size: 12px;
          line-height: 15px;
        }
    }

    .header__button{
      width: 240px;
      height: 54px;
      margin: 110px 0 0 160px;
      font-size: 16px;
      line-height: 24px;
        @media (max-width: 768px) {
          margin: 60px 0 0 30px;
        }
        @media(max-width: 320px) {
          margin: 0;
          width: 262px;
          margin-left: 27px;        
        }
    }
    
  .header__main-image{    
    position: absolute;
    right: 127px;
    top: -3px;
      @media (max-width: 768px) {
        right: -20px;
        top: 80px;
        width: 390px;
        height: 620px;
      }
      @media(max-width: 320px) {
        position: static;
        width: 315px;
        height: 605px;
      }
  }
}