$main-color: white;
$second-color: black;
$bg-color-dark: #222222;
$bg-color-dim: #F8F8F8;
$main-text-color: black;
$second-text-color: white;
$main-font: Inter;
$resolution-max: 1420px;
$resolution-min: 320px;
